.logo-pc {
  width: 320px;
}

.logo-mobile{
  width: 150px;
}

.bg-yellow{
  background-color:#FFF38D !important;
}

.bg-cover{
  background-size: cover;
  background-position: center center;
}

.text-title{
  color: #3E6896;
}

.word-wrap{
  word-break: break-all;
}